{% extends "design.html" %}
{% load i18n %}
{% block content %}
    <div class="contentheading">{{ title }}</div>
    <div>
    {% for p in page %}
        <div>
            <h1><a href="{{ p.url }}">{{ p.title }}</a></h1>
        {% if p.show_date %}
            <p><span class="date">{{ p.publication_date | date:"Y-m-d" }}</span></p>
        {% endif %}
        {{ p.short_text | safe }}
        <p>{% for sc in p.categories %}
            {% if not forloop.first %}, {% endif %}
            <a href="{{ sc.url }}" class="category">{{ sc.title }}</a>
        {% endfor %}</p>
        <p class="readon_split"><a href="{{ p.url }}">
            {% if p.custom_link_name %}
                {{ p.custom_link_name }}
            {% else %}
                {% trans "Read more..." %}
            {% endif %}</a>
        </p>

    </div>
    {% endfor %}
</div>
    <div class="paginator" id="paginator">
    <p>
    {% for p, url in pages_range %}
        {% if url %}
            <a href="{{ url }}">{{ p }}</a>
        {% else %}
            {{ p }}
        {% endif %}&nbsp;
    {% endfor %}
    </p>
    </div>
    <div class="paginator_pages">{{ pages }} сторінок</div>
    <script type="text/javascript">
        var p = new Paginator('paginator', {{ pages }}, 15, {{ page_nr }}, '{{ navigate_url }}', '999999');
    </script>
    </div>
{% endblock %}
