{% if i.title %}
    <h1><a href="{{ i.url }}">{{ i.title }}</a></h1>
{% endif %}
{% if i.body %}
    <div class="column_text" style="color:#E56E0D;">
        {{ i.body | safe }}
    </div>
{% endif %}
{% if i.items %}
    <div class="column_text">
        {% for i in i.items %}
            <p><a href="{{ i.url }}">{{ i.title }}</a></p>
            {{ i.text | safe }}
            <a href="{{ i.url }}" class="readon">Докладніше</a>
            {% if not forloop.last %}
                <h2><a href="#"></a></h2>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
{{ i }}
