node_link

<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib prefix="c" uri="/WEB-INF/c.tld" %>
<%@ taglib prefix="am" uri="/WEB-INF/gushuley-portal.tld" %>
<h1><a href="node,${portalPlugin.item.publication.subcats[0].key}">${portalPlugin.item.title}</a></h1>
<div class="column_text" style="color:#E56E0D;">
    ${portalPlugin.item.textShort}
</div>


last_node_item

<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib prefix="c" uri="/WEB-INF/c.tld" %>
<%@ taglib prefix="am" uri="/WEB-INF/gushuley-portal.tld" %>
<h1><a href="node,${portalPlugin.item.subcats[0].key}">
    <am:caption item="${portalPlugin.item.subcats[0].captions}"/>
</a></h1>
<div class="column_text" style="color:#E56E0D;">
    ${portalPlugin.item.text}
</div>

node_head

<%@ page language="java" contentType="text/html; charset=UTF-8" %>
<%@ taglib uri="/WEB-INF/gushuley-portal.tld" prefix="gp" %>
<%@ taglib uri="/WEB-INF/c.tld" prefix="c" %>
<h1><a href="node,${items.subcategory.key}"><gp:caption item="${items.subcategory.captions}"/></a></h1>
<div class="column_text">
    <c:forEach var="i" items="${items.items}">
        <h2><a href="#"></a></h2>
        <p><a href="${i.link}">${i.caption}</a></p>
        ${i.text}
        <a href="${i.link}" class="readon">Докладніше</a>
    </c:forEach>
</div>

